@import url('https://fonts.googleapis.com/css?family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Philosopher&display=swap');

.poll{
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	margin:20px;
	padding:20px;
	border:1px solid #ccc;
	border-style:outset;
 	border-radius:10px;
 	box-shadow: 0 0 5px 2px #333333;
 	text-align:center;
     background-color: white;
     width:700px;
     background-image: url(/quiz/public/Images/back.jpg);
				background-repeat: no-repeat;
            	background-size: cover;
}
.poll-question{
	font-weight:bold;
	margin-bottom:10px;
	font-family: 'Patrick Hand', cursive;
	font-size:20px
}
.poll-option{
	margin-left:40px;
	margin-bottom:5px;
	text-align: left;
	font-family: 'Patrick Hand', cursive;
	font-size:20px;
}
.sub{
	text-align: center;
	
}
.submit{
	border-radius: 40px;	 
	padding: 5px 15px;
	border: 2px solid #32538C;
	color: #32538C;  
	font-variant: small-caps;
    border-radius: 10px;
	border-style: inset;
    font-family: 'Philosopher', sans-serif;
    font-size:20px;
    margin-left:100px;
}
.submit:hover{
	background-color: #d3d3d3
}

table{
	margin-left: 30px;
	border:2px solid rgb(0, 0, 0);
	border-style:inset;
	font-family: 'Philosopher', sans-serif;
}
h3{
	margin-bottom:20px;
	
}
h1,h6{
	font-family: 'Spicy Rice', cursive;
	color:#32538C;
}
p,li{
	font-family: 'Patrick Hand', cursive;
	font-size:20px;
}